  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">GE Campus Sites</h1>
        <div class="row center">
          <h5 class="header col s12 teal-text text-lighten-2">Check out the events in your office</h5>
        </div>
        {{!-- <div class="row center">
          <a href="http:/www.heroku.com/campsuSites" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Add Event</a>
        </div> --}}
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../assets/js/background4.jpg" alt="Unsplashed background img 1"></div>
  </div>

{{!-- <h5>View the events on GE campuses</h5> --}}

{{!-- Deleted code block from here --}}

 <div class="container">
    <div class="section">
  <!--   Icon Section   -->
      {{!-- <div class="row"> --}}
 <div class="col s12 m4">
          <div class="icon-block">
            
            <p class="light">
              
  <ul>
  {{#each event}}
      {{#if future}}

   
        <li>
       <p><b>Campus Name:</b> {{campus}}</p>
       <p><b>Event Title:</b> {{title}}</p>
       <p><b>Date:</b> {{date}}</p>
       <p><b>Start Time:</b> {{start_time}}</p>
       <p><b>End Time:</b> {{end_time}}</p>
       <p><b>Type:</b> {{type}}</p>
       {{!-- <p><b>Current Flag:</b> {{future}}</p> --}}

    

      
    </li>
      {{/if}}
  {{/each}}
</ul></p>
          </div>
        </div>
      </div>



      <!--   Icon Section   -->
      <div class="row">
        
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
<h5 class="center"><a href="/events/">Add an Event</a></h5>
          </div>
        </div>

   <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
           <h5 class="center"><a href="/edit/">Edit an Event</a></h5>

</div>

          </div>
        </div>
 
      </div>
      
    </div>
 </div>
 

  <footer class="page-footer   light-blue darken-4">
    <div class="container">
 
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-4" href="http://materializecss.com">Materialize</a> and <font color="black">console.log Life.</font>
      </div>
    </div>
  </footer>